* {
    box-sizing: border-box;
    font-family: Inter;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F55A5A;
}

.nav p {
    font-size: 14.5px;
    color: #FFFFFF;
}

.nav--img {
    width: 24px;
    filter: invert(99%) sepia(6%) saturate(256%) hue-rotate(173deg) brightness(114%) contrast(100%);
    margin: 10px;
}

.card {
    display: flex;
    max-width: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 20px 40px;
    padding: 20px;
}

.card--img {
    width: 154px;
    height: 218px;
    object-fit: cover;
    border-radius: 5px;
}

.card--info {
    padding: 20px;
}

.card--location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card--location-img {
    filter: invert(62%) sepia(48%) saturate(5866%) hue-rotate(328deg) brightness(103%) contrast(92%);
    width: 18px;
    padding-bottom: 3px;
}

.card--location-country {
    font-weight: 400;
    color: #2B283A;
    letter-spacing: 0.2rem;
    margin: 0;
}

.card--location-url {
    color: #918E9B;
    font-size: 10px;
}

.card--title {
    margin-top: 10px;
}

.card--date {
    font-size: 10.24px;
    font-weight: 700;
}

.card--text {
    font-size: 10.24px;
    font-weight: 400;
}
